<!-- ADMIN-JQUERY-JS -->
<script src="__ADMIN_TMPL__/public/assets/js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>

<!-- ADMIN-BOOT-JS -->
<script src="__ADMIN_TMPL__/public/assets/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

<!-- UEDITOR-JS -->
<script src="__PLUGIN_TMPL__/common/asset/ueditor/ueditor.config.js" type="text/javascript" charset="utf-8"></script>
<script src="__PLUGIN_TMPL__/common/asset/ueditor/ueditor.all.js" type="text/javascript" charset="utf-8"></script>

<!-- LAYUI-JS -->
<script src="__STATIC__/layui/layui.js" type="text/javascript" charset="utf-8"></script>

<!-- LOCAL-JS -->
<script src="__PLUGIN_TMPL__/common/asset/js/common.js" type="text/javascript" charset="utf-8"></script>
