.content {
	padding: 20px 20px 70px 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-5 {
	margin-bottom: 5px;
}

.table thead tr th,
.table tbody tr td {
	text-align: center;
	vertical-align: middle;
}

.table thead tr th.text-left,
.table tbody tr td.text-left {
	text-align: left;
}

.image-upload {
	width: 100px;
	height: 100px;
	border: 2px solid #EEEEEE;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.image-upload span {
	color: #EEEEEE;
	font-size: 50px;
	line-height: 50px;
	position: absolute;
	margin-left: -25px;
	margin-top: -25px;
	left: 50%;
	top: 50%;
}

.image-list {
	white-space: nowrap;
	overflow-x: auto;
}

.image {
	height: 100px;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.image img {
	height: 100%;
}

.image span {
	color: #FF0000;
	font-size: 20px;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.pagination {
	margin: 0;
}

.form-inline .input-group {
	margin-right: 10px;
}
